header{
    padding: 20px 40px;
    gap: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}
header .logo{
    width: 100%;
    max-width: 220px;
}
header .logo img{
    width: 100%;
    max-width: 250px;
}
nav{
    width: 80%;
}
nav ul{
    gap: 10px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black);
}
header button{
    background-color: var(--purple);
    padding: 10px 20px;
    display: block;
    border: none;
    width: 15%;
    color: white;
    border-radius: 10px;
    font-family: 'Red Rose', cursive;
}